.navbar{
    background-color: black;   
}

li > a {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}


.nav-link {
    padding-top: 10% !important;
    display: inline !important;
}

 .nav-item {
    font-size: 20px;
    font-style: normal;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.logo {
    height: 10%;
    width: 20%;
}

a:hover {
    color:red !important;
    border-bottom: solid 2px red;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 1.8%;
    right: auto;
    width: 100%;
    weight: 600;
    color: #fff;
    font-size: 50px;

}

.d-block {
    filter: brightness(50%);
}

.fas {
    position: relative;
    top: 10px !important;
    left: 47%;
    font-size: 100px;
    color: rgb(20, 80, 245);
    z-index: 1;
 }

 h2 {
    color:red;
 }

 p {
    color:white;
    font-size: 20px !important;
 }

 .black {
    height:800px;
    background-image: url("blackbackground.png");
    padding-top:8%;
    width: 100%;
 }

    
 body {
    background-color: gray !important;
    width: 100%;
 }

.active a {
    color: red;
    border-bottom: solid 2px red;
}

.catering {
    font-size: 35px !important;
    color: white;
    text-align: center;  
}

.spicture {
    border: solid 5px white;
 
}

.spicturecontainer .row div {
    text-align: center;
}

button {
    font-size: 18px !important;
}

.btn-primary {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    border-radius: 0px !important;    
    padding-left: 35px !important;
    padding-right: 35px !important; 
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.menu {
    text-align: center;
    padding-top: 15%;
}

.menu2 {
    color:black;
}

.btn2 {
    color: white !important;
    background-color: rgb(82, 64, 250) !important;
    border-color: rgb(1, 0, 54) !important;
}

.events {
    text-align: center;
    text-transform: uppercase;
}

h3 { 
    color: red;
}

input {
    padding: 10px;
    width: 250px;
}

.message {
    height: 200px;
    padding: 10px;
    width: 250px;
}

.fab {
    color: #ffffff;
    font-size: 35px;
    padding-right: 5px;
}

.footer {
    background-color: black;
    width: 1000px;
    height: 300px;
  
}

.black-box {
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.restaurant2 {

    padding-top:8%;
    height: 600px;
    background:linear-gradient(rgb(8, 8, 8), rgba(255, 255, 255, 0)), url("restaurant2.jpg");
}

.restaurant3 {
    
    height: 300px;
    width: 100%;
    background:linear-gradient(rgb(8, 8, 8), rgba(255, 255, 255, 0)), url("restaurant.jpg");
}

.title {
    color:white;
    text-align: center;
    padding-top: 8%;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;

}

.food {
    background-image: url("food.jpg");
    height: 800px;
    width: 100%;
}

.boxs {
    padding: 20px;
}

.footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 100px;
}